@import url("https://use.typekit.net/gae7iml.css");


$sin45: 0.70710678;

$brand-success: #5cb85c;
$brand-failure: #FF0000;
$loader-size: 128px;
$symbol-thickness: 2px; // Check thickness
$check-height: $loader-size/1.75;
$check-width: $check-height/2;
$check-left: (
	$loader-size/7 + $loader-size/12
); // 7/12 is a nice centrepoint of the tick
$check-color: $brand-success;
$cross-color: $brand-failure;
$cross-offset: (
	$check-height / $sin45) - $check-height;

:root {
	--gradient: linear-gradient(to right,
			rgba(91, 99, 232, 255),
			rgba(151, 40, 198, 255)
	);

--gradient-hover: linear-gradient(to left,
		rgba(151, 40, 198, 255),
		rgba(151, 40, 198, 255))
}

.header {
	width: 70%;
	height: 100vh;
	margin: 10px auto;
	display: flex;
	align-items: center;
	font-family: 'Roboto';
}

.header__info {
	margin: auto;
	display: flex;
	flex-direction: column;

	.header__title {
		margin-top: 3rem;
		max-width: 30%;

		span {
			font-family: titillium-web,
				sans-serif;
			font-size: 50px;
			font-weight: 900;
			font-style: normal;
		}
	}

	.header__description {
		margin: 3rem 0;
		max-width: 50%;
	}

	h1,
	p {
		margin-right: auto;
		font-family: 'Roboto';
		font-weight: 900;
	}

	.header__description {
		max-width: 100%;
		font-size: 20px;
		color: #fff;
	}


	li {
		list-style: none;

		p {
			display: inline-block;
			padding-left: 10px;
			margin: 1rem 0;
		}
	}

	.header__button_container {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 60px;

		button {
			height: 100%;
			width: 50%;
			border-radius: 7px;
			background-image: var(--gradient);
			opacity: 100%;
			border: none;
			border-radius: 15px;
			color: #fff;
			font-family: titillium-web,
				sans-serif;
			font-weight: 900;
			font-size: 20px;
			cursor: pointer;
			margin-bottom: 10px;
			background-position: left;
			background-size: 100%;
			transition: background-size 1s, background-position 1s, opacity 2s;

			&:hover {
				background-size: 1000px;
				background-position: right;
			}

			p {
				transition: all 1s ease-in-out;
			}
		}

		.connected {
			opacity: 0%;
		}
	}
}

.hero_explanation_container {
	background: linear-gradient(to bottom, rgba(91, 99, 232, 255), rgba(151, 40, 198, 255));
	max-width: 500px;
	height: 300px;
	margin: 5%;
	display: flex;
	flex-direction: column;
	border-radius: 7px;
	overflow: auto;
	scroll-behavior: smooth;

	&::-webkit-scrollbar {
		height: 0.5em;
		width: 0.5em;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
		margin-block: .5em;
	}

	&::-webkit-scrollbar-thumb {
		background-color: white;
		border-radius: 100vw;
	}

	.hero_intro {
		height: 100%;
		display: flex;
		flex-direction: column;

		h3,
		p {
			max-width: 80%;
			margin: auto;
		}

		h3 {
			font-size: 30px;
		}
	}

	div {
		min-height: 100%;
		width: 100%;
		flex-shrink: 100%;
		object-fit: cover;
		position: sticky;
		top: 0;
	}

	.hero_detail {
		background: linear-gradient(to top, rgba(91, 99, 232, 255), rgba(151, 40, 198, 255));
		display: flex;

		.hero_detail_text {
			margin: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 80%;
			font-size: 20px;

			strong,
			span {
				font-family: 'Roboto';
				color: #fff;
			}

		}

	}

	.heroes_list {
		background: linear-gradient(to bottom, rgba(91, 99, 232, 255), rgba(151, 40, 198, 255));

		.heroes_container {
			width: 80%;
			max-height: 90%;
			backdrop-filter: blur(10px) saturate(70%);
			padding: 5%;
			display: flex;
			margin: auto;
			flex-wrap: wrap;
			justify-content: space-between;

			:nth-child(even) {
				strong {
					color: #fff;
				}
			}

		}
	}
}

.input_container {
	display: flex;
	flex-direction: column;
	width: 50%;
	align-items: center;
}

.eth_card {
	margin-top: 10px;
	width: 60%;
	height: 180px;
	border-radius: 7px;
	background: linear-gradient(to right, rgba(91, 99, 232, 255), rgba(151, 40, 198, 255));
	opacity: 100%;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
}

.header__icons_container {
	display: flex;
	flex-direction: row;
}

.header__eth_icon_border {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 20px;
	margin-top: 20px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 2px solid #fff;
	color: #fff;

	.header__eth_icon {
		font-size: 40px;
	}
}

.header__info_icon_border {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 5px;
	margin-top: 20px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #fff;
	color: #fff;

	.header__info_icon {
		font-size: 10px;
	}
}

.header__info_container {
	font-family: 'Roboto';
	font-weight: 900;
	font-size: 15px;
	color: #fff;
	display: block;
	margin-top: auto;
	margin-bottom: 0;
	margin-left: 20px;
}

.header__direction {
	margin-bottom: 5px;
}

.header__ethereum-tag {
	font-weight: 900;
	font-size: 20px;
	color: #fff;
	margin-bottom: 15px;
}

.input_data {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
}

.input_data_container {
	width: 90%;
	height: 300px;
	background: linear-gradient(to top, rgba(87, 36, 59, 255), rgba(151, 40, 198, 255));
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;

	.line_break {
		width: 80%;
		border: .5px solid white;
		margin-bottom: 10px;
	}

	Input {
		height: 15%;
		width: 80%;
		margin: 10px;
		border-radius: 7px;
		font-family: 'Roboto';
		border: none;
		padding: 5px;
		-webkit-appearance: none;
	}

	Input:first-child {
		margin-top: 20px;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type=number] {
		-moz-appearance: textfield;
	}

	button {
		width: 70%;
		border: .5px solid #5b63e8;
		border-radius: 15px;
		background: none;
		padding: 5px;
		margin: 10px;
		font-family: titillium-web,
			sans-serif;
		font-weight: 900;
		font-size: 20px;
		cursor: pointer;
		color: white;
		transition: all 0.3s ease-in;

		&:hover {
			border: .5px solid #5b63e8;
			background-color: #5b63e8;
		}

	}

}

.header__loading_container {
	width: 90%;
	height: 300px;
	background: linear-gradient(to left, rgba(91, 99, 232, 255), rgba(151, 40, 198, 255));
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all 1s;
}

.circle-loader {

	margin: 0 0 30px 10px;
	border: $symbol-thickness solid rgba(0, 0, 0, 0.2);
	border-left-color: $check-color;
	animation-name: loader-spin;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	position: relative;
	display: inline-block;
	vertical-align: top;

	&,
	&:after {
		border-radius: 50%;
		width: $loader-size;
		height: $loader-size;
	}
}

.sent {
	-webkit-animation: none;
	animation: none;
	border-color: $brand-success;
	transition: border opacity 500ms ease-out;

	.status {

		&.draw:after {
			animation-duration: 1.2s;
			animation-timing-function: ease;
			animation-name: checkmark;
			transform: scaleX(-1) rotate(135deg);
		}

		&:after {
			opacity: 1;
			height: $check-height;
			width: $check-width;
			transform-origin: left top;
			border-right: $symbol-thickness solid $check-color;
			border-top: $symbol-thickness solid $check-color;
			content: '';
			left: $check-left*1.75/2;
			top: $check-height*1.75/2;
			position: absolute;
		}
	}
}

.failure {
	-webkit-animation: none;
	animation: none;
	border-color: $brand-failure;
	transition: border opacity 500ms ease-out;

	.status {
		top: 50%;
		left: 50%;
		position: absolute;

		&.draw {

			&:before,
			&:after {
				animation-duration: 1.2s;
				animation-timing-function: ease;
				animation-name: crossmark;
			}

			&:before {
				transform: scaleX(-1) rotate(45deg);
			}

			&:after {
				transform: scaleX(-1) rotate(225deg);
			}
		}

		&:before,
		&:after {
			opacity: 1;
			height: $check-height / 2;
			width: $check-height / 2;
			transform-origin: left top;
			border-right: $symbol-thickness solid $cross-color;
			border-top: $symbol-thickness solid $cross-color;
			content: '';
			position: absolute;
		}

		&:before {
			left: calc(#{$cross-offset} - #{($symbol-thickness*2)});
			top: calc(#{$symbol-thickness * 2} - #{$cross-offset});
		}

		&:after {
			left: calc(#{($symbol-thickness * 2)/$sin45} - #{$cross-offset});
			top: calc(#{$cross-offset} - #{($symbol-thickness)/$sin45});
		}
	}
}


@keyframes loader-spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes checkmark {
	0% {
		height: 0;
		width: 0;
		opacity: 1;
	}

	20% {
		height: 0;
		width: $check-width;
		opacity: 1;
	}

	40% {
		height: $check-height;
		width: $check-width;
		opacity: 1;
	}

	100% {
		height: $check-height;
		width: $check-width;
		opacity: 1;
	}
}

@keyframes crossmark {
	0% {
		height: 0;
		width: 0;
		opacity: 1;
	}

	20% {
		height: 0;
		width: $check-width;
		opacity: 1;
	}

	40% {
		height: $check-width;
		width: $check-width;
		opacity: 1;
	}

	100% {
		height: $check-width;
		width: $check-width;
		opacity: 1;
	}
}

.hero_name {
	padding: 1%;
	margin-top: 10px;
	font-size: 15px;
	cursor: pointer;
}

.hero_name::before,
.hero_name::after {
	--scale: 0;
	--arrow-size: 20px;
	--tooltip-color: white;

	position: absolute;
	top: 1px;
	transform: translateX(-25%) translateY(0) scale(var(--scale));
	transition: 150ms transform;
	transform-origin: bottom center;
}

.hero_name::before {
	--translate-y: calc(-10% - var(--arrow-size));

	content: attr(data-tooltip);
	font-size: 10px;
	color: #000;
	padding: .5rem;
	border-radius: .3rem;
	text-align: center;
	width: max-content;
	max-width: 100%;
	background: var(--tooltip-color);
}

.hero_name:hover::before,
.hero_name:hover::after {
	--scale: 1;
}

@media(max-width:845px) {
	.header {
		margin-top: 80px;
		flex: 1;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.input_container {
		width: 100%;
	}

	.eth_card {
		width: 100%;
	}

	.input_data {
		width: 100%;
	}

	.input_data_container {
		width: 100%;
	}

	.hero_detail_text {

		p,
		strong,
		span {
			font-size: 18px;
		}
	}

	.heroes_container {
		strong {
			font-size: 12px;
		}
	}

	.hero_name::before,
	.hero_name::after {
		top: 0px;
		transform: translateX(-30%) translateY(0) scale(var(--scale));
	}

	.hero_name::before {

		content: attr(data-tooltip);
		font-size: 10px;
		color: #000;
		padding: .2rem;
		border-radius: .3rem;
		text-align: center;
		width: max-content;
		max-width: 100%;
		background: var(--tooltip-color);
	}

}

@media only screen and (max-width: 700px) {
	.eth_card {
		width: 100%;
	}

	.input_data,
	.header__loading_container {
		width: 100%;
	}

	.header__button_container {

		button {
			margin-top: 10px;
			min-width: 70%;
		}
	}

}

@media only screen and (min-width: 612px) and (max-width: 845px) {
	.eth_card {
		width: 50%;
	}

	.input_data {
		width: 80%;
	}
}