body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --myColor1: {
    syntax: '<color>';
    initial-value: #0f0;
    inherits: false;
  }

  --myColor2: {
    syntax: '<color>';
    initial-value: rgb(40, 190, 145);
    inherits: false;
  }
}